@charset "utf-8";
@import "reset.css";

.container {
  width: min(100% - 30px, 1080px);
}

header {
  display: flex;
  justify-content: space-around;
  padding: 10px 0px;
}

header h1 {
  color: #008cff;
}

header nav a {
  line-height: 50px;
  font-size: 14px;
  padding: 5px;
}

header nav a, .input input {
  color: #fff;
  font-size: 14px;
}

header, .input {
  background-color: #3a3a3a;
}

main {
  background-color: #292929;
}

.input {
  display: flex;
  border-radius: 10px;
  justify-self: center;
  margin: 50px;
  width: 400px;
  height: 200px;
}

textarea {
  background: none;
  padding: 10px;
  width: 99%;
  height: 80%
}

.icon {
  border-radius: 50%;
  background: no-repeat;
  background-image: "../media/profile_pic.png";
  background-color: #008cff;
}
