@charset "utf-8";
@import "reset.css";

.container {
  width: min(100% - 30px, 1080px);
}

header {
  display: flex;
  justify-content: space-around;
  padding: 10px 0px;
}

header h1 {
  color: #008cff;
}

header nav a {
  line-height: 50px;
  font-size: 14px;
  padding: 5px;
}

header nav a, .input , .send {
  color: #fff;
  font-size: 14px;
}

header, .input {
  background-color: #3a3a3a;
}

main {
  display: flex;
  background-color: #292929;
  height: 900px;
}

.input, .send {
  border-radius: 10px;
}

.input {
  justify-self: center;
  margin: 50px;
  width: 400px;
  height: 175px;
}

.upload, .send {
  position: relative;
}

.upload {
  left: 2.5%;
  top: 2.5%;
}

.send {
  left: 82.5%;
  bottom: 20%;
  padding: 5px 20px;
  height: 40px;
  background-color: #008cff;
}

textarea {
  background: none;
  padding: 10px;
  width: 99%;
  height: 80%;
  resize: none;
}

.icon {
  border-radius: 50%;
  background-color: #008cff;
}
