@charset "utf-8";
@import "reset.css";

.container {
  width: min(100% - 30px, 1080px);
}

* {
  transition: 0.25s;
}

header {
  display: flex;
  justify-content: space-around;
  padding: 10px 0px;
}

header h1 {
  color: #008cff;
}

header nav a {
  line-height: 50px;
  font-size: 14px;
  padding: 5px;
}

header nav a, .inputText, .send {
  color: #fff;
  font-size: 14px;
}

header, .input {
  background-color: #3a3a3a;
}

main {
  display: flex;
  background-color: #292929;
  min-height: 900px;
}

.input, .send, .chat {
  border-radius: 10px;
}

.input {
  justify-self: center;
  margin: 20px 0px;
  width: 400px;
  height: 175px;
}

.upload {
  left: 2.5%;
  color: #fff;
  
}

.target {
  width: 300px;
}

.upload:hover {
  color: #bbb;
}


.chat {
  background-color: #fff;
  color: #000;
  width: 400px;
  justify-self: center;
  padding: 5px;
  margin: 10px 0px;
}

.chat .userName {
  left: 10%;
}

.chat .userName, .date {
  line-height: 15px;
  padding: 10px;
  height: min(40px);
  width: max(200px);
}

.chatHeader {
  height: 40px;
  width: 380px;
}

.chatInfo {
  top: 30%
}

.date {
  position: absolute;
  left: 67.5%;
  width: 130px;
  top: 1%;
}

.chat .userName, .chat, .upload, .send {
  position: relative;
}

.text {
  width: 380px;
  padding: 10px;
}

.chatImg {
  width: 380px;
  padding: 5px 0px 0px;
  justify-self: center;
}

.send {
  left: 82.5%;
  bottom: 20%;
  padding: 5px 20px;
  height: 40px;
  background-color: #008cff;
}

.send:hover {
  background-color: #006bc2;
}

.inputText {
  background: none;
  padding: 10px;
  width: 99%;
  height: 80%;
  resize: none;
}

.icon {
  border-radius: 50%;
  background-image: url(../media/ico.png);
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-repeat: no-repeat;
}

.chat .icon {
  position: absolute;
}



/*Got from stack overflow to remove the default upload button*/
::file-selector-button {
  display: none;
}
